* {
    margin: 0;
    padding: 0;
}

body {
    width: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
}

#container1 {
    display: inline-block;
    width: 450px;
    min-height: 100vh;
    background-color: #5E5D5D;
    color: #fff;
    padding: 20px;
}

#container2 {
    flex: 1;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
}

img {
    width: 225px;
    height: 225px;
    padding: 95px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
}

.ano {
    font-style: italic;
    float: inline-end;
}

p, span {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 15px;
}

ul {
  list-style-position: inside;
}
